Use pima-indian-diabetes dataset. Apply Adaboosting Ensemble method and construct the classification model for the dataset. Analyze the accuracy of your model.

In [2]:
#Importing PIMA Indian Diabetes dataset
import pandas as pd
diabetes_df=pd.read_csv("https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/pima-indians-diabetes.csv")

In [3]:
#Adding column labels to the dataset
diabetes_df.columns=['pregnancies','glucose','bloodpressure','skin_thickness','insulin','bmi','diabetes_pedigree','age','outcome']
feature_columns=['pregnancies','glucose','bloodpressure','skin_thickness','insulin','bmi','diabetes_pedigree','age']

In [4]:
#Accessing first five records of the dataset
diabetes_df.head()

   pregnancies  glucose  bloodpressure  ...  diabetes_pedigree  age  outcome
0            1       85             66  ...              0.351   31        0
1            8      183             64  ...              0.672   32        1
2            1       89             66  ...              0.167   21        0
3            0      137             40  ...              2.288   33        1
4            5      116             74  ...              0.201   30        0

[5 rows x 9 columns]

In [5]:
#Checking for NULL values in the dataset
diabetes_df.isnull().sum()

pregnancies          0
glucose              0
bloodpressure        0
skin_thickness       0
insulin              0
bmi                  0
diabetes_pedigree    0
age                  0
outcome              0
dtype: int64

In [6]:
#Extracting features and target dataframe from the dataset
features_df=diabetes_df.iloc[:,0:8].values
target_df=diabetes_df.iloc[:,8].values

In [7]:
#Standardizing features dataframe 
from sklearn.preprocessing import StandardScaler
norm=StandardScaler()
features_df=norm.fit_transform(features_df)

In [9]:
#Splitting titanic dataset into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(features_df,target_df,test_size=0.2,random_state=3)

In [10]:
#Importing adaboostclassifier
from sklearn.ensemble import AdaBoostClassifier

In [12]:
#Importing logisticregressor
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()

In [53]:
#Implementing adaboost classifier with base model as logistic regressor
abc=AdaBoostClassifier(n_estimators=500, base_estimator=lgr,learning_rate=0.01)
abc_lgr=abc.fit(x_train,y_train)

In [54]:
#Training and testing accuracies for adaboost classifier model
print('Training Accuracy:',abc_lgr.score(x_train,y_train))
print('Testing Accuracy:',abc_lgr.score(x_test, y_test))

Training Accuracy: 0.7748776508972267
Testing Accuracy: 0.7857142857142857

In [55]:
#Predicting test instances with adaboost classifier
y_pred_abc=abc_lgr.predict(x_test)

In [57]:
#Classification report for adaboost ensemble classifier model
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_abc))

              precision    recall  f1-score   support

           0       0.79      0.93      0.85       104
           1       0.77      0.48      0.59        50

    accuracy                           0.79       154
   macro avg       0.78      0.71      0.72       154
weighted avg       0.78      0.79      0.77       154