Use Wisconsin breast cancer dataset. The dataset contains a total number of 10 features labeled in either benign or malignant classes. The features have 699 instances out of which 16 feature values are missing. The dataset only contains numeric values. Implement Adaboosting ensemble method. Analyze the performance of your model.

In [1]:
#Importing Breast Cancer dataset
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Breast_Cancer_Dataset.csv')

In [2]:
#Retrieving first five records of the dataset
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [3]:
#Segregating feature and target sets
feature_df=df.drop(columns=['id','Unnamed: 32','diagnosis']) 
target_df=df['diagnosis']

In [4]:
feature_df.head()

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [5]:
feature_df.shape

(569, 30)

In [7]:
target_df.shape

(569,)

In [8]:
#Standardizing the features of the dataset
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
feature_df=ss.fit_transform(feature_df)

In [10]:
#Extracting 10 most effective features from the dataset
from sklearn.decomposition import PCA
pca=PCA(n_components=10)
components=pca.fit_transform(feature_df)

In [19]:
#Splitting titanic dataset into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(feature_df,target_df,test_size=0.15,random_state=30)

In [20]:
#Importing logisticregressor
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()

In [31]:
#Importing adaboostclassifier
from sklearn.ensemble import AdaBoostClassifier

#Implementing adaboost classifier with base model as logistic regressor
abc=AdaBoostClassifier(n_estimators=400, base_estimator=lgr,learning_rate=0.01)
abc_lgr=abc.fit(x_train,y_train)

In [32]:
#Training and testing accuracies for adaboost classifier model
print('Training Accuracy:',abc_lgr.score(x_train,y_train))
print('Testing Accuracy:',abc_lgr.score(x_test, y_test))

Training Accuracy: 0.968944099378882
Testing Accuracy: 0.9651162790697675

In [33]:
#Predicting test instances with adaboost classifier
y_pred_abc=abc_lgr.predict(x_test)

In [34]:
#Classification report for gradient boosting classifier model
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_abc))

              precision    recall  f1-score   support

           B       0.95      1.00      0.97        52
           M       1.00      0.91      0.95        34

    accuracy                           0.97        86
   macro avg       0.97      0.96      0.96        86
weighted avg       0.97      0.97      0.96        86