How many flights have a missing dep_time? What other variables are missing? What might these rows represent?

In [1]:
library(dplyr)
library(nycflights13)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'nycflights13' was built under R version 3.6.3"

In [2]:
dep_time_na=filter(flights, is.na(dep_time))
head(dep_time_na)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   NA       1630           NA        NA       1815
2 2013 1     1   NA       1935           NA        NA       2240
3 2013 1     1   NA       1500           NA        NA       1825
4 2013 1     1   NA        600           NA        NA        901
5 2013 1     2   NA       1540           NA        NA       1747
6 2013 1     2   NA       1620           NA        NA       1746
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        EV      4308   N18120  EWR    RDU  NA        416     16   30
2 NA        AA       791   N3EHAA  LGA    DFW  NA       1389     19   35
3 NA        AA      1925   N3EVAA  LGA    MIA  NA       1096     15    0
4 NA        B6       125   N618JB  JFK    FLL  NA       1069      6    0
5 NA        EV      4352   N10575  EWR    CVG  NA        569     15   40
6 NA        EV      4406   N13949  EWR    PIT  NA        319     16   20
  time_hour
1 2013-01-01 16:00:00
2 2013-01-01 19:00:00
3 2013-01-01 15:00:00
4 2013-01-01 06:00:00
5 2013-01-02 15:00:00
6 2013-01-02 16:00:00

In [3]:
count(dep_time_na)

  n
1 8255

#### From the above table output, we can see that other variables like arr_time, arr_delay, dep_delay and most importantly air_time have value==NA for flights with dep_time==NA. We can conclude that these flights has been cancelled though scheduled, due to some technical issue or bad weather condition or some other problems.

Why is NA ^ 0 not missing? Why is NA | TRUE not missing? Why is FALSE & NA not missing? Can you figure out the general rule?

In [4]:
cat(NA^0, NA|T, NA&F)

1 TRUE FALSE

#### For NA^0, we can say that any number to the power zero is always 1, i.e. x^0=1. Hence, this rule applies for NA too.

#### For NA|TRUE, anything logically 'OR' operated with TRUE gives TRUE, as per the general rule, T|F=T, F|T=T and T|T=T.

#### For NA&FALSE, any value logically 'AND' operated with FAlSE gives FALSE, as per the general rule, T&F=F, F&T=F and F&F=F.

#### These OR and AND rule also applies for NA too.

How could you use arrange() to sort all missing values to the start?

In [5]:
#sorting missing values to start
head(arrange(flights, desc(is.na(dep_time))))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   NA       1630           NA        NA       1815
2 2013 1     1   NA       1935           NA        NA       2240
3 2013 1     1   NA       1500           NA        NA       1825
4 2013 1     1   NA        600           NA        NA        901
5 2013 1     2   NA       1540           NA        NA       1747
6 2013 1     2   NA       1620           NA        NA       1746
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        EV      4308   N18120  EWR    RDU  NA        416     16   30
2 NA        AA       791   N3EHAA  LGA    DFW  NA       1389     19   35
3 NA        AA      1925   N3EVAA  LGA    MIA  NA       1096     15    0
4 NA        B6       125   N618JB  JFK    FLL  NA       1069      6    0
5 NA        EV      4352   N10575  EWR    CVG  NA        569     15   40
6 NA        EV      4406   N13949  EWR    PIT  NA        319     16   20
  time_hour
1 2013-01-01 16:00:00
2 2013-01-01 19:00:00
3 2013-01-01 15:00:00
4 2013-01-01 06:00:00
5 2013-01-02 15:00:00
6 2013-01-02 16:00:00

Sort flights to find the most delayed flights. Find the flights that left earliest.

In [6]:
#most delayed flights
head(arrange(flights, desc(dep_delay)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

In [7]:
#earliest flights in order
flights_sml=filter(flights, dep_delay<0)
head(arrange(flights_sml, dep_delay))
count(flights_sml)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12     7  2040     2123           -43         40     2352
2 2013  2     3  2022     2055           -33       2240     2338
3 2013 11    10  1408     1440           -32       1549     1559
4 2013  1    11  1900     1930           -30       2233     2243
5 2013  1    29  1703     1730           -27       1947     1957
6 2013  8     9   729      755           -26       1002      955
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  48       B6        97   N592JB  JFK    DEN  265      1626     21   23
2 -58       DL      1715   N612DL  LGA    MSY  162      1183     20   55
3 -10       EV      5713   N825AS  LGA    IAD   52       229     14   40
4 -10       DL      1435   N934DL  LGA    TPA  139      1010     19   30
5 -10       F9       837   N208FR  LGA    DEN  250      1620     17   30
6   7       MQ      3478   N711MQ  LGA    DTW   88       502      7   55
  time_hour
1 2013-12-07 21:00:00
2 2013-02-03 20:00:00
3 2013-11-10 14:00:00
4 2013-01-11 19:00:00
5 2013-01-29 17:00:00
6 2013-08-09 07:00:00

  n
1 183575

Sort flights to find the fastest (highest speed) flights.

In [8]:
#finding the fastest flights form speed variable
flights_sml=data.frame(flights)
flights_sml=mutate(flights_sml,speed=distance/air_time)

In [9]:
colnames(flights_sml)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"      "speed"

In [10]:
#fastest flights sorted in order
head(arrange(flights_sml,desc(speed)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  5    25  1709     1700            9        1923     1937
2 2013  7     2  1558     1513           45        1745     1719
3 2013  5    13  2040     2025           15        2225     2226
4 2013  3    23  1914     1910            4        2045     2043
5 2013  1    12  1559     1600           -1        1849     1917
6 2013 11    17   650      655           -5        1059     1150
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       DL      1499   N666DN  LGA    ATL   65       762     17    0
2  26       EV      4667   N17196  EWR    MSP   93      1008     15   13
3  -1       EV      4292   N14568  EWR    GSP   55       594     20   25
4   2       EV      3805   N12567  EWR    BNA   70       748     19   10
5 -28       DL      1902   N956DL  LGA    PBI  105      1035     16    0
6 -51       DL       315   N3768   JFK    SJU  170      1598      6   55
  time_hour           speed
1 2013-05-25 17:00:00 11.723077
2 2013-07-02 15:00:00 10.838710
3 2013-05-13 20:00:00 10.800000
4 2013-03-23 19:00:00 10.685714
5 2013-01-12 16:00:00  9.857143
6 2013-11-17 06:00:00  9.400000

Which flights travelled the farthest? Which travelled the shortest?

In [11]:
#farthest flights
far_flights=filter(flights,distance==max(distance))
head(far_flights)
count(far_flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    857     900            -3        1516     1530
2 2013 1     2    909     900             9        1525     1530
3 2013 1     3    914     900            14        1504     1530
4 2013 1     4    900     900             0        1516     1530
5 2013 1     5    858     900            -2        1519     1530
6 2013 1     6   1019     900            79        1558     1530
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       HA      51     N380HA  JFK    HNL  659      4983     9    0
2  -5       HA      51     N380HA  JFK    HNL  638      4983     9    0
3 -26       HA      51     N380HA  JFK    HNL  616      4983     9    0
4 -14       HA      51     N384HA  JFK    HNL  639      4983     9    0
5 -11       HA      51     N381HA  JFK    HNL  635      4983     9    0
6  28       HA      51     N385HA  JFK    HNL  611      4983     9    0
  time_hour
1 2013-01-01 09:00:00
2 2013-01-02 09:00:00
3 2013-01-03 09:00:00
4 2013-01-04 09:00:00
5 2013-01-05 09:00:00
6 2013-01-06 09:00:00

  n
1 342

In [12]:
#shortest flights in order
head(arrange(flights,distance))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     27    NA      106            NA         NA      245
2 2013 1      3  2127     2129            -2       2222     2224
3 2013 1      4  1240     1200            40       1333     1306
4 2013 1      4  1829     1615           134       1937     1721
5 2013 1      4  2128     2129            -1       2218     2224
6 2013 1      5  1155     1200            -5       1241     1306
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  NA       US      1632   NA      EWR    LGA  NA       17        1    6
2  -2       EV      3833   N13989  EWR    PHL  30       80       21   29
3  27       EV      4193   N14972  EWR    PHL  30       80       12    0
4 136       EV      4502   N15983  EWR    PHL  28       80       16   15
5  -6       EV      4645   N27962  EWR    PHL  32       80       21   29
6 -25       EV      4193   N14902  EWR    PHL  29       80       12    0
  time_hour
1 2013-07-27 01:00:00
2 2013-01-03 21:00:00
3 2013-01-04 12:00:00
4 2013-01-04 16:00:00
5 2013-01-04 21:00:00
6 2013-01-05 12:00:00

Brainstorm as many ways as possible to select dep_time, dep_delay, arr_time, and arr_delay from flights.

In [13]:
#select by giving column names
flights_sml=select(flights,dep_time,dep_delay,arr_time,arr_delay)

In [14]:
#select by giving column names as strings
flights_sml=select(flights,"dep_time","dep_delay","arr_time","arr_delay")

In [15]:
#select by giving column names as a vector
flights_sml=select(flights,c("dep_time","dep_delay","arr_time","arr_delay"))

In [16]:
#select by giving column indices
flights_sml=select(flights, 4, 6, 7, 9)

In [17]:
#select by using starts_with parameter
flights_sml=select(flights, starts_with("dep"), starts_with("arr"))

What happens if you include the name of a variable multiple times in a select() call?

In [18]:
head(select(flights,year,year,dep_time,arr_time,dep_time,dep_time,dep_delay,arr_delay,arr_delay))
#as we are giving variables multiple times in select still it is selecting the column once

  year dep_time arr_time dep_delay arr_delay
1 2013 517       830      2         11
2 2013 533       850      4         20
3 2013 542       923      2         33
4 2013 544      1004     -1        -18
5 2013 554       812     -6        -25
6 2013 554       740     -4         12