2. Another useful dplyr filtering helper is between(). What does it do? Can you use it to simplify the code needed to answer the previous challenges?

between(x, left, right):-selects x between left and right boundaries

The expression `between(x, left, right)` is equivalent to `x >= left & x <= right`.

x	:-A numeric vector of values

left, right	:-Boundary values

In [4]:
#Example:
library(dplyr)
between(1:12, 7, 9)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE

###### Example to descirbe work of between() on mtcars dataset:

In [8]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [9]:
colnames(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [10]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [13]:
filter(mtcars,between(mpg,15,20))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
2  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
3  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
4  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
5  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
6  17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
8  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
9  15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
10 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
11 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
12 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
13 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [18]:
mtcars_sml=filter(mtcars,between(hp,200,335))
arrange(mtcars_sml,hp)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
2 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
3 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
4 14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
5 13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
6 15.8 8   351  264 4.22 3.170 14.50 0  1  5    4
7 15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

##### Using between() for previous question challenges:

In [19]:
library(dplyr)
library(nycflights13)

Warning message:
"package 'nycflights13' was built under R version 3.6.3"

In [23]:
flights1=filter(flights,between(month,7,9))
head(flights1)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     1    1       2029           212       236      2359
2 2013 7     1    2       2359             3       344       344
3 2013 7     1   29       2245           104       151         1
4 2013 7     1   43       2130           193       322        14
5 2013 7     1   44       2150           174       300       100
6 2013 7     1   46       2051           235       304      2358
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 157       B6       915   N653JB  JFK    SFO  315      2586     20   29
2   0       B6      1503   N805JB  JFK    SJU  200      1598     23   59
3 110       B6       234   N348JB  JFK    BTV   66       266     22   45
4 188       B6      1371   N794JB  LGA    FLL  143      1076     21   30
5 120       AA       185   N324AA  JFK    LAX  297      2475     21   50
6 186       B6       165   N640JB  JFK    PDX  304      2454     20   51
  time_hour
1 2013-07-01 20:00:00
2 2013-07-01 23:00:00
3 2013-07-01 22:00:00
4 2013-07-01 21:00:00
5 2013-07-01 21:00:00
6 2013-07-01 20:00:00

In [29]:
flights2=filter(flights,between(dep_time,0000,0600))
head(flights2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00