Use balance dataset.  Create classification model using SVM.

In [2]:
#Importing balance dataset
import pandas as pd
bal_df=pd.read_csv("https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Balance.csv",header=None)

In [3]:
#Accessing first five records of the dataset
bal_df.head()

   0  1  2  3  4
0  B  1  1  1  1
1  R  1  1  1  2
2  R  1  1  1  3
3  R  1  1  1  4
4  R  1  1  1  5

In [4]:
#Checking for NULL values
bal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       625 non-null    object
 1   1       625 non-null    int64
 2   2       625 non-null    int64
 3   3       625 non-null    int64
 4   4       625 non-null    int64
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

In [5]:
#Extracting feature and target sets
feature_df=bal_df.iloc[:,1:]
target_df=bal_df.iloc[:,0]

In [7]:
feature_df.shape

(625, 4)

In [8]:
target_df.shape

(625,)

In [9]:
#Splitting titanic dataset into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(feature_df,target_df,test_size=0.15,random_state=20)

In [10]:
#Importing SVM classifier
from sklearn.svm import SVC

In [21]:
#Implementing svm classifier with polynomial kernel
model_svc=SVC(kernel='poly',C=0.1, random_state=10)
model_svc.fit(x_train,y_train)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=10, shrinking=True, tol=0.001,
    verbose=False)

In [22]:
#Training and testing accuracies for svm classifier
print('Training Accuracy:',round(model_svc.score(x_train,y_train)*100,4))
print('Testing Accuracy:',round(model_svc.score(x_test, y_test)*100,4))

Training Accuracy: 95.6685
Testing Accuracy: 95.7447

In [23]:
#Predicting test instances with svm classifier
y_pred=model_svc.predict(x_test)

In [24]:
#Classification report for svm classifier model
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           B       1.00      0.56      0.71         9
           L       0.90      1.00      0.95        36
           R       1.00      1.00      1.00        49

    accuracy                           0.96        94
   macro avg       0.97      0.85      0.89        94
weighted avg       0.96      0.96      0.95        94