Use breast_cancer dataset. Construct classification model using SVM classifier. Evaluate the model accuracy, precision and recall.

In [1]:
#Importing breast cancer dataset
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Breast_Cancer_Dataset.csv")

In [2]:
#Retrieving first five records of the dataset
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [3]:
#Extracting feature and target sets
feature_df=df.drop(columns=['id','Unnamed: 32','diagnosis']) 
target_df=df['diagnosis']

In [4]:
feature_df.shape

(569, 30)

In [5]:
target_df.shape

(569,)

In [6]:
#Standardizing the features of the dataset
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
feature_df=ss.fit_transform(feature_df)

In [7]:
#Extracting 10 most effective features from the dataset
from sklearn.decomposition import PCA
pca=PCA(n_components=10)
components=pca.fit_transform(feature_df)

In [8]:
#Splitting titanic dataset into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(feature_df,target_df,test_size=0.15,random_state=30)

In [18]:
#Implementing SVM classifier
from sklearn.svm import SVC
model_svc=SVC(kernel='linear',C=0.1, random_state=10)
model_svc.fit(x_train,y_train)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=10, shrinking=True, tol=0.001,
    verbose=False)

In [21]:
#Training and testing accuracies for svm classifier
print('Training Accuracy:',round(model_svc.score(x_train,y_train)*100,4))
print('Testing Accuracy:',round(model_svc.score(x_test, y_test)*100,4))

Training Accuracy: 98.1366
Testing Accuracy: 98.8372

In [22]:
#Predicting test instances with svm classifier
y_pred=model_svc.predict(x_test)

In [23]:
#Classification report for svm classifier model
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           B       0.98      1.00      0.99        52
           M       1.00      0.97      0.99        34

    accuracy                           0.99        86
   macro avg       0.99      0.99      0.99        86
weighted avg       0.99      0.99      0.99        86