# Difference Between iris and iris3 dataset:
## iris dataset:

In [1]:
#dimensions of iris dataset
dim(iris)

[1] 150   5

In [3]:
#class type of iris dataset
class(iris)

[1] "data.frame"

In [4]:
#column names of iris
colnames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [5]:
#glimpse of the iris dataset
dplyr::glimpse(iris)

Observations: 150
Variables: 5
$ Sepal.Length <dbl> 5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4,...
$ Sepal.Width  <dbl> 3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7,...
$ Petal.Length <dbl> 1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5,...
$ Petal.Width  <dbl> 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2,...
$ Species      <fct> setosa, setosa, setosa, setosa, setosa, setosa, setosa...

In [6]:
#descriptive summary of iris dataset
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [7]:
#retrieving first five records of the dataset
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [11]:
#retrieving last five records of the dataset
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [12]:
#checking for NULL values in iris dataset
sum(is.na(iris))

[1] 0

## iris3 dataset:

In [13]:
#dimension of iris3 dataset
dim(iris3)

[1] 50  4  3

In [14]:
#class type of iris3 dataset
class(iris3)

[1] "array"

In [15]:
#column names in iris3 dataset
colnames(iris3)

[1] "Sepal L." "Sepal W." "Petal L." "Petal W."

In [16]:
#diemnsion names in iris3 dataset
dimnames(iris3)

[[1]]
NULL

[[2]]
[1] "Sepal L." "Sepal W." "Petal L." "Petal W."

[[3]]
[1] "Setosa"     "Versicolor" "Virginica"

In [17]:
#structure of iris3 dataset
str(iris3)

 num [1:50, 1:4, 1:3] 5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 - attr(*, "dimnames")=List of 3
  ..$ : NULL
  ..$ : chr [1:4] "Sepal L." "Sepal W." "Petal L." "Petal W."
  ..$ : chr [1:3] "Setosa" "Versicolor" "Virginica"

In [18]:
#five records of setosa species of iris3 dataset
iris3[c(1:5),,'Setosa']

     Sepal L. Sepal W. Petal L. Petal W.
[1,] 5.1      3.5      1.4      0.2
[2,] 4.9      3.0      1.4      0.2
[3,] 4.7      3.2      1.3      0.2
[4,] 4.6      3.1      1.5      0.2
[5,] 5.0      3.6      1.4      0.2

In [19]:
#five records of versicolor species of iris3 dataset
iris3[c(1:5),,'Versicolor']

     Sepal L. Sepal W. Petal L. Petal W.
[1,] 7.0      3.2      4.7      1.4
[2,] 6.4      3.2      4.5      1.5
[3,] 6.9      3.1      4.9      1.5
[4,] 5.5      2.3      4.0      1.3
[5,] 6.5      2.8      4.6      1.5

In [20]:
#five records of virginica species of iris3 dataset
iris3[c(1:5),,'Virginica']

     Sepal L. Sepal W. Petal L. Petal W.
[1,] 6.3      3.3      6.0      2.5
[2,] 5.8      2.7      5.1      1.9
[3,] 7.1      3.0      5.9      2.1
[4,] 6.3      2.9      5.6      1.8
[5,] 6.5      3.0      5.8      2.2

In [21]:
#checking for NULL values in iris3 dataset
sum(is.na(iris3))

[1] 0