Consider the following problem:
In AB Company, there is a salary distribution table based on Year of Experience as given in “salary_dataset.csv”. “The scenario is you are a HR officer, you got a candidate with 5 years of experience. Then what is the best salary you should offer to him?”

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [2]:
sal_df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Salary_Dataset.csv')

In [10]:
sal_df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
sal_df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [6]:
sal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [7]:
sal_df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [8]:
X=sal_df.iloc[:,:-1]
y=sal_df.iloc[:,-1]

In [9]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=4)

In [15]:
sal_regr=DecisionTreeRegressor(random_state=0)
sal_regr.fit(x_train.values.reshape(-1,1),y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [16]:
from sklearn.metrics import r2_score
print("Training Accuracy:", round(sal_regr.score(x_train.values.reshape(-1,1),y_train),4)*100)

Training Accuracy: 99.72999999999999

In [17]:
y_pred=sal_regr.predict(x_test)
print("Testing Accuracy:", round(sal_regr.score(x_test,y_test),4)*100)

Testing Accuracy: 98.05

In [18]:
print('Test Variance score: %.2f' %r2_score(y_test, y_pred))

Test Variance score: 0.98

In [19]:
predicted_sal=sal_regr.predict([[5]])

In [20]:
print("Predicted salary of person with 5 years of experience:", predicted_sal)

Predicted salary of person with 5 years of experience: [67938.]