Use diabetes dataset of Q1. And classify the people who are at the risk of getting diabetes. Make the use of Logistic Regressor classifier to build classification model. 
Compare your results.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [51]:
#importing pima-indian-diabetes
diabetes_df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/pima-indians-diabetes.csv',header=None)

In [52]:
#adding column labels to dataset
diabetes_df.columns=['pregnancies','glucose','bloodpressure','skin_thickness','insulin','bmi','diabetes_pedigree','age','outcome']
feature_columns=['pregnancies','glucose','bloodpressure','skin_thickness','insulin','bmi','diabetes_pedigree','age']

In [53]:
diabetes_df.head()

   pregnancies  glucose  bloodpressure  ...  diabetes_pedigree  age  outcome
0            6      148             72  ...              0.627   50        1
1            1       85             66  ...              0.351   31        0
2            8      183             64  ...              0.672   32        1
3            1       89             66  ...              0.167   21        0
4            0      137             40  ...              2.288   33        1

[5 rows x 9 columns]

In [54]:
#checking for null values in the dataset
diabetes_df.isnull().sum()

pregnancies          0
glucose              0
bloodpressure        0
skin_thickness       0
insulin              0
bmi                  0
diabetes_pedigree    0
age                  0
outcome              0
dtype: int64

In [55]:
#extracting independent and dependent variables from the dataset
features_df=diabetes_df.iloc[:,0:8].values
target_df=diabetes_df.iloc[:,8].values

In [56]:
#standardizing features dataframe 
from sklearn.preprocessing import StandardScaler
norm=StandardScaler()
features_df=norm.fit_transform(features_df)

In [59]:
#splitting dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_df, target_df, test_size=0.3, random_state = 10)

In [60]:
#using training set to create a logistic regression model
diabetes_logr=LogisticRegression(C=0.1,random_state=10)
diabetes_logr.fit(X_train, y_train)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=10, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [61]:
#Predicting the test set result  
y_pred=diabetes_logr.predict(X_test)

In [62]:
print("Accuracy of the model:", (round(accuracy_score(y_test,y_pred)*100,4)))

Accuracy of the model: 75.3247

In [63]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm=confusion_matrix(y_test,y_pred)

In [64]:
print(cm)

[[131  13]
 [ 44  43]]

In [65]:
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    0   1  All
True
0          131  13  144
1           44  43   87
All        175  56  231

In [66]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.75      0.91      0.82       144
           1       0.77      0.49      0.60        87

    accuracy                           0.75       231
   macro avg       0.76      0.70      0.71       231
weighted avg       0.76      0.75      0.74       231