 Use iris dataset and create a classification model using Gaussian naïve bayes classifier. 

 Compare the result of Naïve bayes Classifier with the Decision tree classifier and Logistic Regessor.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
iris_df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Iris.csv',header=None)

In [3]:
iris_df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
iris_df.columns=['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width','Class']
feature_names=['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width']

In [8]:
iris_df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
#exttracting feature and target sets
x=iris_df.values[:,0:4]
y=iris_df.values[:,4]

In [11]:
#splitting dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [12]:
#using training set to create a naive bayes classifier model
gnb=GaussianNB()
iris_nb=gnb.fit(X_train,y_train)

In [13]:
#using training set to create a decision tree model
iris_tree=DecisionTreeClassifier(criterion="gini",random_state=10)
iris_tree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=10, splitter='best')

In [29]:
#using training set to create a logistic regression model
iris_logr=LogisticRegression(random_state=10)
iris_logr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=10, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
y_pred_nb=iris_nb.predict(X_test)
y_pred_dt=iris_tree.predict(X_test)
y_pred_lgr=iris_logr.predict(X_test)

In [17]:
print("Accuracy for Naive Bayes Classifier:",accuracy_score(y_test,y_pred_nb)*100)

Accuracy for Naive Bayes Classifier: 100.0

In [18]:
print("Accuracy for Decision Tree Classifier:",accuracy_score(y_test,y_pred_dt)*100)

Accuracy for Decision Tree Classifier: 96.66666666666667

In [31]:
print("Accuracy for Logistic Regressor:",accuracy_score(y_test,y_pred_lgr)*100)

Accuracy for Logistic Regressor: 100.0