Use iris dataset of Q3 and build the k-nn model using k-fold cross validation, stratified cross fold validation. Compare the results of train_test_split, k-fold and skfold validation techniques.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn import model_selection as ms
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn import metrics as m

In [2]:
iris_df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Iris.csv',header=None)
iris_df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
feature_df=iris_df.iloc[:,0:4].values
target_df=iris_df.iloc[:,4].values

In [4]:
le=LabelEncoder()
target_df=le.fit_transform(target_df)
target_df

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [5]:
X_train,X_test,Y_train,Y_test=train_test_split(feature_df,target_df,test_size=0.4,random_state=10)

In [6]:
model1=KNeighborsClassifier(n_neighbors=6)
model1.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                     weights='uniform')

In [7]:
y_pred1=model1.predict(X_test)

In [22]:
kfold=KFold(n_splits=15,random_state=10)
model2=KNeighborsClassifier(n_neighbors=6)
kfold_values=ms.cross_val_score(model2,feature_df,target_df,cv=kfold)

Accuracy for kfold model: 94.0

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [20]:
skfold=StratifiedKFold(n_splits=5,random_state=10)
model3=KNeighborsClassifier(n_neighbors=6)
skfold_values=ms.cross_val_score(model3,feature_df,target_df,cv=skfold)

Accuracy for skfold model: 98.00000000000001

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

Comparing accuracies for train_test_split, kfold and skfold

In [ ]:
print("Accuracy for train_test_split model:",m.accuracy_score(Y_test,y_pred1)*100)

Accuracy for train_test_split model: 98.33333333333333

In [25]:
print("Accuracy for kfold model:", kfold_values.mean()*100)

Accuracy for kfold model: 94.0

In [26]:
print("Accuracy for skfold model:", skfold_values.mean()*100)

Accuracy for skfold model: 98.00000000000001