Use diabetes dataset. The datasets consist of several medical predictor (independent) variables and one target (dependent) variable, Outcome. Independent variables include the number of pregnancies the patient has had, their BMI, insulin level, age, and so on. Use random forest ensemble method to build the classification model. Evaluate your model performance. Use “gridsearchcv( )” to find the best value of decision trees for creating forest.

In [76]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [77]:
diab_df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Diabetes.csv')

In [78]:
diab_df.shape

(768, 9)

In [79]:
diab_df.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [80]:
diab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   preg    768 non-null    int64
 1   plas    768 non-null    int64
 2   pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   insu    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [81]:
x=diab_df.iloc[:,:8].values
y=diab_df.iloc[:,8].values

In [82]:
ss=StandardScaler()
x=ss.fit_transform(x)

In [83]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=10)

In [98]:
params={'n_estimators':[50,100,200,300,400,500]}
rfc=RandomForestClassifier()
rfc_cv= GridSearchCV(rfc,params,cv=5)
rfc_cv.fit(x,y)

print(rfc_cv.best_score_)
print(rfc_cv.best_params_)

0.7683218742042272
{'n_estimators': 500}

In [95]:
rfc=RandomForestClassifier(n_estimators=500)
model=rfc.fit(x_train,y_train)

In [96]:
y_pred=model.predict(x_test)

In [97]:
print("Accuracy of the model: ",accuracy_score(y_test,y_pred)*100)

Accuracy of the model:  75.0

In [99]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

tested_negative       0.76      0.88      0.82        74
tested_positive       0.71      0.52      0.60        42

       accuracy                           0.75       116
      macro avg       0.74      0.70      0.71       116
   weighted avg       0.74      0.75      0.74       116