Use petrol_consumption dataset. Your task is to predict the gas consumption (in millions of gallons) in 48 of the US states based on petrol tax (in cents), per capita income (dollars), paved highways (in miles) and the proportion of population with the driving license. Build the regression model using KNN Regressor. Analyze the prediction ability of your model.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics as m

In [2]:
petro_df=pd.read_csv('https://raw.githubusercontent.com/kajalpanda1/DatasetRepository/master/Petrol_consumption.csv')

In [3]:
petro_df

    Petrol_tax  ...  Petrol_Consumption
0         9.00  ...                 541
1         9.00  ...                 524
2         9.00  ...                 561
3         7.50  ...                 414
4         8.00  ...                 410
5        10.00  ...                 457
6         8.00  ...                 344
7         8.00  ...                 467
8         8.00  ...                 464
9         7.00  ...                 498
10        8.00  ...                 580
11        7.50  ...                 471
12        7.00  ...                 525
13        7.00  ...                 508
14        7.00  ...                 566
15        7.00  ...                 635
16        7.00  ...                 603
17        7.00  ...                 714
18        7.00  ...                 865
19        8.50  ...                 640
20        7.00  ...                 649
21        8.00  ...                 540
22        9.00  ...                 464
23        9.00  ...                 547
24        8.50  ...                 460
25        9.00  ...                 566
26        8.00  ...                 577
27        7.50  ...                 631
28        8.00  ...                 574
29        9.00  ...                 534
30        7.00  ...                 571
31        7.00  ...                 554
32        8.00  ...                 577
33        7.50  ...                 628
34        8.00  ...                 487
35        6.58  ...                 644
36        5.00  ...                 640
37        7.00  ...                 704
38        8.50  ...                 648
39        7.00  ...                 968
40        7.00  ...                 587
41        7.00  ...                 699
42        7.00  ...                 632
43        7.00  ...                 591
44        6.00  ...                 782
45        9.00  ...                 510
46        7.00  ...                 610
47        7.00  ...                 524

[48 rows x 5 columns]

In [4]:
petro_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [29]:
petro_df.corr()

                              Petrol_tax  ...  Petrol_Consumption
Petrol_tax                      1.000000  ...           -0.451280
Average_income                  0.012665  ...           -0.244862
Paved_Highways                 -0.522130  ...            0.019042
Population_Driver_licence(%)   -0.288037  ...            0.698965
Petrol_Consumption             -0.451280  ...            1.000000

[5 rows x 5 columns]

In [5]:
petro_df.shape

(48, 5)

In [6]:
x=petro_df.iloc[:, 0:4].values
y=petro_df.iloc[:, 4].values

In [7]:
x

array([[9.0000e+00, 3.5710e+03, 1.9760e+03, 5.2500e-01],
       [9.0000e+00, 4.0920e+03, 1.2500e+03, 5.7200e-01],
       [9.0000e+00, 3.8650e+03, 1.5860e+03, 5.8000e-01],
       [7.5000e+00, 4.8700e+03, 2.3510e+03, 5.2900e-01],
       [8.0000e+00, 4.3990e+03, 4.3100e+02, 5.4400e-01],
       [1.0000e+01, 5.3420e+03, 1.3330e+03, 5.7100e-01],
       [8.0000e+00, 5.3190e+03, 1.1868e+04, 4.5100e-01],
       [8.0000e+00, 5.1260e+03, 2.1380e+03, 5.5300e-01],
       [8.0000e+00, 4.4470e+03, 8.5770e+03, 5.2900e-01],
       [7.0000e+00, 4.5120e+03, 8.5070e+03, 5.5200e-01],
       [8.0000e+00, 4.3910e+03, 5.9390e+03, 5.3000e-01],
       [7.5000e+00, 5.1260e+03, 1.4186e+04, 5.2500e-01],
       [7.0000e+00, 4.8170e+03, 6.9300e+03, 5.7400e-01],
       [7.0000e+00, 4.2070e+03, 6.5800e+03, 5.4500e-01],
       [7.0000e+00, 4.3320e+03, 8.1590e+03, 6.0800e-01],
       [7.0000e+00, 4.3180e+03, 1.0340e+04, 5.8600e-01],
       [7.0000e+00, 4.2060e+03, 8.5080e+03, 5.7200e-01],
       [7.0000e+00, 3.7180e+03, 4.7250e+03, 5.4000e-01],
       [7.0000e+00, 4.7160e+03, 5.9150e+03, 7.2400e-01],
       [8.5000e+00, 4.3410e+03, 6.0100e+03, 6.7700e-01],
       [7.0000e+00, 4.5930e+03, 7.8340e+03, 6.6300e-01],
       [8.0000e+00, 4.9830e+03, 6.0200e+02, 6.0200e-01],
       [9.0000e+00, 4.8970e+03, 2.4490e+03, 5.1100e-01],
       [9.0000e+00, 4.2580e+03, 4.6860e+03, 5.1700e-01],
       [8.5000e+00, 4.5740e+03, 2.6190e+03, 5.5100e-01],
       [9.0000e+00, 3.7210e+03, 4.7460e+03, 5.4400e-01],
       [8.0000e+00, 3.4480e+03, 5.3990e+03, 5.4800e-01],
       [7.5000e+00, 3.8460e+03, 9.0610e+03, 5.7900e-01],
       [8.0000e+00, 4.1880e+03, 5.9750e+03, 5.6300e-01],
       [9.0000e+00, 3.6010e+03, 4.6500e+03, 4.9300e-01],
       [7.0000e+00, 3.6400e+03, 6.9050e+03, 5.1800e-01],
       [7.0000e+00, 3.3330e+03, 6.5940e+03, 5.1300e-01],
       [8.0000e+00, 3.0630e+03, 6.5240e+03, 5.7800e-01],
       [7.5000e+00, 3.3570e+03, 4.1210e+03, 5.4700e-01],
       [8.0000e+00, 3.5280e+03, 3.4950e+03, 4.8700e-01],
       [6.5800e+00, 3.8020e+03, 7.8340e+03, 6.2900e-01],
       [5.0000e+00, 4.0450e+03, 1.7782e+04, 5.6600e-01],
       [7.0000e+00, 3.8970e+03, 6.3850e+03, 5.8600e-01],
       [8.5000e+00, 3.6350e+03, 3.2740e+03, 6.6300e-01],
       [7.0000e+00, 4.3450e+03, 3.9050e+03, 6.7200e-01],
       [7.0000e+00, 4.4490e+03, 4.6390e+03, 6.2600e-01],
       [7.0000e+00, 3.6560e+03, 3.9850e+03, 5.6300e-01],
       [7.0000e+00, 4.3000e+03, 3.6350e+03, 6.0300e-01],
       [7.0000e+00, 3.7450e+03, 2.6110e+03, 5.0800e-01],
       [6.0000e+00, 5.2150e+03, 2.3020e+03, 6.7200e-01],
       [9.0000e+00, 4.4760e+03, 3.9420e+03, 5.7100e-01],
       [7.0000e+00, 4.2960e+03, 4.0830e+03, 6.2300e-01],
       [7.0000e+00, 5.0020e+03, 9.7940e+03, 5.9300e-01]])

In [8]:
y

array([541, 524, 561, 414, 410, 457, 344, 467, 464, 498, 580, 471, 525,
       508, 566, 635, 603, 714, 865, 640, 649, 540, 464, 547, 460, 566,
       577, 631, 574, 534, 571, 554, 577, 628, 487, 644, 640, 704, 648,
       968, 587, 699, 632, 591, 782, 510, 610, 524])

In [43]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=10)

In [44]:
neigh = KNeighborsRegressor(n_neighbors=10)
model=neigh.fit(X_train,y_train)

In [45]:
#Training Error
y_pred=model.predict(X_train)
MSE=m.mean_squared_error(y_pred,y_train)
print('Mean Squared Error:',MSE)
RMSE=np.sqrt(MSE)
print('Root Mean Squared Error:',RMSE)

Mean Squared Error: 11467.157499999998
Root Mean Squared Error: 107.08481451634493

In [46]:
#Testing Error
y_pred1=model.predict(X_test)
MSE=m.mean_squared_error(y_pred1,y_test)
print('Mean Squared Error:',MSE)
RMSE=np.sqrt(MSE)
print('Root Mean Squared Error:',RMSE)

Mean Squared Error: 8084.026250000001
Root Mean Squared Error: 89.91121314941758